#About{
    background-image: linear-gradient(to bottom right, rgb(0, 57, 110), rgb(31, 150, 247));
    width: 100%;
    height: 500px;
    color: white;
}
#image{
    height: 300px;
    border-radius: 100px;
    margin-top: 10px;
    border: 3px solid black;
}
#imageGame{
    height: 300px;
}